/* Hero Section */
.hero {
  height: 100vh;
  background-size: cover;
  background-position:  0% 58%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
  padding: 0 1rem;
  position: relative;
  background-image: url('../../assets/hero-section.jpg');
}

/* Fallback para WebP */
@supports (background-image: url("data:image/webp;base64,UklGRi4AAABXRUJQVlA4TCEAAAAvAUAAEB8wAiMwAAT/hgAgP5hAgA=")) {
  .hero {
    background-image: url('../../assets/optimized/hero-section.webp');
  }
}

.hero::before {
  content: '';
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  max-width: 800px;
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero {
    background-position: center;
  }

  .hero h1 {
    font-size: 2rem;
  }
}